<!--
<div *ngIf="selectedHero">
    <div>{{selectedHero.name}} Details</div>
    <input type="text" [(ngModel)]="selectedHero.name" name="name"/>
</div>
-->


<h1>{{title}}</h1>
<ul class="heroes">
    <li *ngFor="let hero of HEROES" (click)="onSelect(hero)" [class.selected]="hero===selectedHero"><span class="badge">{{hero.id}}</span><span>{{hero.name}}</span></li>
</ul>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetails()">View Details</button>
    <a [routerLink]="['/dashboard/detail',selectedHero.id]">View Details here..</a>
    <router-outlet></router-outlet>
</div>